<div *ngIf="dataList" class="container mainArea">
	<!-- 大標題1：購物車 -->
	<div class="bigBox" >
		<h5 class="" style="margin-left:20px"> 購物車</h5>
		<div class=" littleBox" *ngFor="let data of dataList; let loop = index" style="background-color:#FFFAF2">
			
			<div  class="row align-items-center" >
				<!-- bg-info bg-warning bg-primary-->
				<div class="col-3 ">
					<div><img class="boxImg" src="assets/assets/img/06.jpg"/></div>
				</div>
				<div class="col-6 fontBox" >
					<div><span class="fs-6">{{data.productName}}</span></div>
					<div><span class="fs-6">{{data.size}}/{{data.ice}}/{{data.sweet}}</span></div>
					<div>
						<a style="padding:5px" (click)="numMinus(loop,data.num);">
                        <i class="fa-solid fa-minus"></i></a>
                        <input type="text" id="{{loop}}" style="width:40px;text-align:center" value="{{data.num}}" readonly>
						<a style="padding:5px" (click)="numPlus(loop);">
                         <i class="fa-solid fa-plus"></i></a>
					</div>
	            
				</div>
				<div class="col-3 text-center">
					<div><span class="fs-2">$ {{data.finalPrice * data.num}}</span></div>
				</div>
			</div>
		</div>
	<!-- 按鈕(固定在最下面) -->
</div>
	<div  style="position: relative;display: block;height: 60px;"></div>
	<div class="fixed-bottom" style="height: 100px;margin-bottom:10px;bottom: 50px !important;margin-top:10px">
		<div class="row" style="height: 100%;">
			<div style="background: #FFF3DE">
				<span class="fs-5" style="float:right;margin-right:10px">應付金額： {{totalPrice}}</span><span class="fs-5" style="float:right;margin-right:20px">數量<span style="font-size:10px">(杯)</span>： {{totalNum}}</span>
			</div>
			<div class="btn-group" role="group" aria-label="Basic example" >
				<button type="button" class="btn" style="background: #FFFAF2;font-weight:bold;" routerLink="/onlineOrder/order">上一步</button>
				<button type="button" class="btn" style="background: orange;font-weight:bold;color:white" routerLink="/onlineOrder/orderCheck">結帳</button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="dataList == null" class="container mainArea">
	<!-- 大標題1：購物車 -->
	<div class="bigBox">
		<h1 class="">購物車為空</h1>
		<a href="/onlineOrder/order">回菜單</a>
	</div>
</div>