<div class="container mainArea">
	<ul class="wizard-steps" style="max-width: 100%;">
		<li class="current"><span class="step">1</span> <span class="title" style="color: #ffc107">確認明細</span></li>
		<li class=""><span class="step">2</span> <span class="title" style="color:gray">確認結帳</span></li>
	</ul>
	<!-- 大標題1：預計取餐時間 -->
	<form id="requestForm">
		<div class="bigBox">
			<div class="bg-light littleBox">
				<div class="row align-items-center">
					<h5 style="font-family: monospace; margin-top: 20px;margin-left: 20px;">預計取餐時間</h5>
					<div class=""  style="margin-bottom:10px">
						<input class="form-control form-control-lg" type="time" id="takeTime" name="takeTime" value="{{takeTime}}" (change)="checkTime($event);" style="border-radius:10px;width:80%;margin-left:auto;margin-right: auto;">
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- 大標題2：訂單明細 -->
	<div *ngIf="dataList" class="bigBox">
		<h5 class="" style="font-family: monospace; margin-top: 10px;margin-left: 20px;"> 訂單明細</h5>
		<div *ngFor="let data of dataList" class=" littleBox" style="width:90%;margin-left: 30px;background-color:#FFFAF2;margin-top:5px">
			<div class="row align-items-center" >
				<!-- bg-info bg-warning bg-primary-->
				<div class="col-3 ">
					<div><img class="boxImg" src="/assets/assets/img/06.jpg"></div>
				</div>
				<div class="col-6 fontBox" >
					<div><span class="fs-6">{{data.productName}}</span></div>
					<div><span class="fs-6"> {{data.size}}/{{data.ice}}/{{data.sweet}}</span></div>
					<div><span class="fs-6">數量 {{data.num}}</span></div>
	            
				</div>
				<div class="col-3 text-center">
					<div><span class="fs-2">$ {{data.finalPrice * data.num}}</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="bigBox">
			<div class="bg-light littleBox">
				<div class="row align-items-center">
					<h5 class="" style="font-family: monospace; margin-top: 10px;margin-left: 20px;">付款方式</h5>
					<div class="form-check" style="margin-bottom:10px">
					  <input class="form-check-input" type="radio" name="linePayCheck" id="linePayCheck" style="margin-left:20px;background-color:#ffc107;border: 1px solid #ffc107;" checked>
					  <label class="form-check-label" for="linePayCheck" style="margin-left:5px">
					    <img src="/assets/assets/img/LINE-Pay.png" >
					  </label>
					</div>
				</div>
			</div>
		</div>
		<div  style="position: relative;display: block;height: 60px;"></div>
	<!-- 按鈕(固定在最下面) -->
	<div class="fixed-bottom" style="height: 70px;margin-bottom:10px;bottom: 50px !important;">
			<div class="row" style="height: 100%;">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn" style="background: #FFFAF2;font-weight:bold;" routerLink="/onlineOrder/shopCar" >上一步</button>
					<button type="button" class="btn" style="background: orange;font-weight:bold;color:white" (click)="next();">下一步</button>
				</div>
			</div>
		</div>
	</div>