<div class="container mainArea">
	<form id="historyDetailForm">
	<!-- 大標題1：過去訂單記錄 -->
	<div class="bigBox">
		<h1 class=""><a  style="width:150px"><i class="fa-solid fa-xmark" style="color:orange"></i></a>  過去訂單紀錄</h1>
		<div *ngIf="dataList">
            <div *ngFor="let data of dataList" class="littleBox" style="background-color:#FFFAF2">
                <div  class="row align-items-center" (click)="showHistory(data.orderNo,data.totalPrice,data.orderTime);">
                    <!-- bg-info bg-warning bg-primary-->
                    <div class="col-3 ">
                        <div><img src="assets/assets/img/06.jpg" class="boxImg"></div>
                    </div>
                    <div class="col-6 fontBox" >
                        <div><span class="fs-6">{{data.storeName}}</span></div>
                        <div><span class="fs-6">$ {{data.totalPrice}}</span></div>
                        <div><span class="fs-6">{{data.orderTime}}</span></div>
                        <div><span class="fs-6" id="remark">{{data.remark}}</span></div>
                    </div>
                    <div class="col-3 text-center">
                    </div>
                </div>
            </div>
        </div>
	</div>
	</form>
</div>